<div class="header">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <h1>Balboa Park</h1>
        </div>
        <div class="row justify-content-center">
          <select onchange="location = this.value">
            <option hidden disabled selected>Balboa Park</option>
            <option value="#/seaport">Seaport Village</option>
            <option value="#/ucsd">UCSD</option>
            <option value="#/sdsu">SDSU</option>
            <option value="#/usd">USD</option>
          </select>
        </div>
      </div>
</div>
<div class="main">
    <div class="container-fluid" id="map-canvas">
          <leaflet center="mapCenter" markers="mapMarkers"></leaflet>
    </div>
  </div>